@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

@import '~/assets/scss/variables.scss';

@import '~bulma';

.navbar {
    border-bottom-style: solid;
    border-bottom-color: #4bba31;
    border-bottom-width: 2px;
}

#main-menu .navbar-item {
    font-size: 1.25rem;
}

.is-green {
    color: $custom-green;
}

.is-white {
    color: white;
}

.is-twitter {
    color: #03a9f4;
}

.is-discord {
    color: #5c6bc0;
}

.card.profile {
    border-bottom-style: solid;
    border-bottom-color: #4bba31;
    border-bottom-width: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card.profile .card-content {
    margin-bottom: auto;
}

.card.profile .card-footer {
    margin-top: auto;
}

.crop-to-fit img {
    object-fit: cover;
}

.card-footer-item.social {
    display: flex;
    flex-direction: column;
}

.hover-green img {
    border: solid 1px black;
}

.hover-green img:hover {
    border: solid 1px $custom-green;
}

body {
    background-color: #161616;
}
